@charset "utf-8";
@include pc {};
@include sp {};

.c-button {
    cursor: pointer;
    &__show-social {
        display: flex;
        color: $emeraldo;
        flex-direction: column;
        @include pc {
            margin-top: 50px;
            position: fixed;
            width: 50px;
        };
        @include sp {
            width: 30px;
            margin-top: 30px;
            position: absolute;
            margin-left: 15px;
        };
        &__twitter {
            width: 30px;
            margin: 0 auto;
            margin-top: 50px;
            @include pc {};
            @include sp {};
            img {
                background: #f5f5f5;
            }
        }
        &__like {
            width: 50px;
            height: 50px;
            padding: 9px 0;
            margin-bottom: 10px;
            color: #ED4264;
            font-size: 20px;
            text-align: center;
            background: #f5f5f5;
            background-color: #fff;
            outline: none;
            border-radius: 50%;
            @include pc {
                box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
                width: 50px;
                height: 50px;
                padding: 9px 0;
                border: 2px solid #ED4264;
            };
            @include sp {
                width: 40px;
                height: 40px;
                padding: 0px;
                border: .5px solid #ED4264;
            };

        }
        &__dislike {
            margin-bottom: 10px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            background: #EF566E;
            outline: none;
            border-radius: 50%;
            border: none;
            @include pc {
                box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
                width: 50px;
                height: 50px;
                padding: 9px 0;
            };
            @include sp {
                width: 40px;
                height: 40px;
                padding: 0;
            };

        }
        &__stock {
            width: 50px;
            height: 50px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            background: #777;
            outline: none;
            border-radius: 50%;
            border: none;
            @include pc {
                box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
                width: 50px;
                height: 50px;
                padding: 9px 0;
            };
            @include sp {
                width: 40px;
                height: 40px;
                padding: 0px;
            };

            .fa-folder-open {
                padding: 14px 0;
            }
        }
        &__unstock {
            width: 50px;
            height: 50px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            background: rgb(204, 204, 204);
            outline: none;
            border-radius: 50%;
            border: none;
            @include pc {
                box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
                width: 50px;
                height: 50px;
            };
            @include sp {
                width: 40px;
                height: 40px;
                padding: 0px;
            };
            .fa-folder-open {
                padding: 14px 0;
                @include sp {
                    padding: 0px;
                };
            }
        }
        &__count {
            position: absolute;
            color: #ff8ba7;
            font-weight: 600;
            text-align: center;
            @include pc {
                top: -30px;
                width: 50px;
                font-size: 1.3rem;
            };
            @include sp {
                top: -25px;
                width: 40px;
                font-size: 1.2rem;
            };
        }
        &__stockcount {
            position: absolute;
            left: -50px;
            top: 75px;
            width: 50px;
            color: #777;
            font-size: 1.3rem;
            font-weight: 600;
            text-align: center;
            @include pc {};
            @include sp {};
        }
        &__challange {
            display: block;
            text-decoration: none;
            border-radius: 3px;
            cursor: pointer !important;
            color: #FFF !important;
            background: #FF416C;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            @include pc {
                width: 200px;
                margin: 0 auto;
                padding: 0.8em 1em;
                margin: 80px 0 80px 30px;
            };
            @include sp {
                padding: 0.8em 1em;
                width: 80%;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 50px;
            };
        }
        &__unchallange {
            display: block;
            text-decoration: none;
            border-radius: 3px;
            cursor: pointer !important;
            color: #FF416C !important;
            background: #fff;  /* fallback for old browsers */
            @include pc {
                width: 200px;
                border: 2px solid #FF416C;
                margin: 0 auto;
                padding: 0.8em 1em;
                margin: 80px 0 80px 30px;
            };
            @include sp {
                padding: 0.8em 1em;
                width: 80%;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 50px;
            };
        }
    }

    &-header {
        &__post {
            a {
                color: #fff;
                background: $emeraldo;
                @include pc {
                    border-radius: 3px;
                    border: 1px solid $emeraldo;
                    padding: .4em 1em;
                };
                @include sp {
                    position: fixed;
                    bottom: 10px;
                    right: 10px; 
                    padding: .6em 1.2em;
                    color: #fff;
                    background: $emeraldo;
                    border-radius: 10px;
                };
            }
        }
    }
    &__post{
    }
};

#c-button{
    &_post{
        &-delete {
            background: $red;
            color: #fff;
            border-radius: 5px;
            font-size: 1rem;
            margin-right: 10px;
            border: none;
            @include pc {
                margin-top: 5px;
            };
            @include sp {
                margin-top: 3px;
            };
        }
        &-edit {
            background: $teal;
            color: #fff;
            border-radius: 5px;
            font-size: 1rem;
            margin-right: 10px;
            border: none;
            @include pc {
                margin-top: 5px;
            };
            @include sp {
                margin-top: 3px;
            };
        }
    }
}
