@charset "utf-8";

.c-post {
  &__detail {
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #000;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    &-img {
      width: 44px;
      height: 44px;
      padding: 0 16px;
    }
    &-title {
      width: 100%;
      min-height: 44px;
      margin-top: 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      h2 {
        display: inline-block;
        margin-bottom: 10px;
        color: inherit;
        font-size: 1rem;
        font-weight: 700;
        word-wrap: break-word;
        word-break: break-all;
        cursor: pointer;
      }
      p {
        color: #999;
        font-size: .9em;
      }
    }
  }
  &__new {
    &-title {
      height: 100%;
      padding-top: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
      font-size: 24px;
      border: 1px solid #ddd;
      input {
        width: 100%;
      }
    }
    &-category {
      overflow: hidden;
      padding-top: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
      margin: 0;
      color: transparent;
      font-size: 14px;
      background-color: rgb(255, 255, 255);

      input {
        width: 100%;
      }
    }
    &-editor {
      textarea {
        height: 500px !important;
      }
    }
    &-submit {
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      text-align: center;
      background: #f2f2f2;
      button {
        width: 100px;
        padding: 15px;
        margin: 0 auto;
        color: #fff;
        font-size: 14px;
        background: $emeraldo;
        border: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        outline: 0;
        transition: all .3 ease;
        cursor: pointer;
      }
    }
  }
}
