@charset "utf-8";
@include pc {};
@include sp {};

.c-post {
    &__detail {
        height: 70px;
        background: #fff;
        border-bottom: 1px solid #000;
        @include pc {};
        @include sp {};
    }
    &__box1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
        @include pc {};
        @include sp {};

        &-img {
            width: 44px;
            height: 44px;
            padding: 0 16px;
            @include pc {};
            @include sp {};
    
        }
        &-title {
            width: 100%;
            min-height: 44px;
            margin-top: 16px;
            margin-right: 16px;
            margin-bottom: 16px;
            @include pc {};
            @include sp {};
    
            h2 {
                display: inline-block;
                margin-bottom: 10px;
                color: inherit;
                font-size: 1rem;
                font-weight: 700;
                word-wrap: break-word;
                word-break: break-all;
                cursor: pointer;
                @include pc {};
                @include sp {};
        
            }
            p {
                color: #999;
                font-size: .9em;
                @include pc {};
                @include sp {};
        
            }
        }
    }
    &__new {
        &-contents {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include pc {
                width: 870px;
            };
            @include sp {};
        }
        &-title {
            height: 100%;
            padding-bottom: 10px;
            margin: 0 auto;
            @include pc {
                width: 870px;
                margin-top: 50px;
            };
            @include sp {
                width: 100%;
                margin-top: 10px;
            };
    
            input {
                width: 100%;
                padding: 10px 0;
                padding-left: 5px;
                box-shadow: 0 1px 3px rgba(160, 166, 179, .3);
                border: none;
                @include pc {
                    font-size: 20px;
                };
                @include sp {
                    font-size: 0.9rem;
                };        
            }
        }
        &-subtitle {
            height: 100%;
            margin: 0 auto;
            @include pc {
                width: 870px;
            };
            @include sp {
                width: 100%;
            };
    
            input {
                width: 100%;
                padding: 10px 0;
                padding-left: 5px;
                box-shadow: 0 1px 3px rgba(160, 166, 179, .3);
                border: none;
                @include pc {
                    font-size: 14px;
                };
                @include sp {
                    font-size: 0.9rem;
                };        
            }   
        }
        &-box {
            display: flex;
            margin: 0 auto;
            @include pc {
                width: 870px;
            };
            @include sp {
                width: 100%;
                flex-direction: column;
            };    
            &__tags {
                overflow: hidden;
                height: 100%;
                margin: 0 auto;
                color: transparent;
                background: #fff;
                box-shadow: 0 1px 3px rgba(160, 166, 179, .3);
                @include pc {
                    width: 670px;
                };
                @include sp {
                    width: 100%;
                };
        
                input {
                    width: 100%;
                    padding: 7px 0;
                    padding-left: 5px;
                    font-size: 12px;
                    border: none;
                    @include pc {};
                    @include sp {
                        width: 100vw;
                    };            
                }
            }
            &__time {
                width: 200px;
                height: 100%;
                padding-top: 5px;
                color: #757575;
                text-align: center;
                @include pc {};
                @include sp {};        
            }
        }
        &-submit {
            box-sizing: border-box;
            margin: 0 auto;
            text-align: center;
            background: #fff;
            @include pc {
                width: 870px;
            };
            @include sp {
                width: 95%;
                display: block;
                margin-bottom: 80px;
            };

            button {
                width: 100%;
                padding: 10px;
                margin: 0 auto;
                color: $emeraldo;
                font-size: 14px;
                background: #fff;
                border: 0;
                border: solid $emeraldo 1px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
                outline: 0;
                transition: all .3 ease;
                cursor: pointer;
                @include pc {};
                @include sp {};
            }
            button:hover {
                background: $emeraldo;
                color: #fff;
                transition: ease .3s;

            }
        }
        &-texteditor{
        @include pc {
            width: 870px;
        };
        @include sp {};
        }
        &-table {
            @include pc {
                width: 870px;
                margin: 0 auto;
                table {
                    width: 870px;
                    margin: 0;
                    padding: 0;
                }
                tbody {
                    display: flex !important;
                    flex-direction: column;
                }
            };
            @include sp {};
            &__step {
                @include pc {
                    margin-top: 20px;
                };
                @include sp {};
                td {
                    color: rgb(153, 153, 153);
                    &:first-child {
                        @include pc {
                            width: 200px;
                            text-align: center;
                        };
                    }
                    &:nth-child(2) {
                        @include pc {
                            width: 655px;
                            text-align: center;
                        };
                    }
                    vertical-align: top;
                    text-align: center;
                    @include pc {
                        width: 870px; 
                    };
                    @include sp {};
                    input{
                        display: flex;
                        border: 0;
                        vertical-align: top;
                        @include pc {
                            width: 200px;
                            padding: 5px;
                        };
                        @include sp {};
                    }
                    textarea {
                        outline: none;
                        resize: none;
                        padding: 10px;
                        border: 0;
                        @include pc {
                            width: 620px;
                            height: 200px;
                            font-size: 1.2rem;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: 20px;
                            margin-right: 0;
                        };
                        @include sp {};
                    }
                }
                &:last-child{
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__show {
        display: flex;
        margin: auto;
        @include pc {
            width: 1280px;
            margin-top: 45px;
        };
        @include sp {
            margin: 0 auto;
        };

        // background-color: #f8f9fc;
        &-main {
            margin: 0 auto;
            background: #ffffff;
            @include pc {
                width: 900px;
                min-height: 600px;
                padding: 3rem;    
            };
            @include sp {
                width: 90%;
            };
    
            &__header {
                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 50px;
                    @include pc {
                        a img {
                            display: flex;
                            overflow: hidden;
                            border-radius: .2em;
                            width: 32px;
                            height: 32px;
                            margin-right: 8px;
                            border-radius: 50%;
                        }
                    };
                    @include sp {
                        margin: 30px auto 50px auto;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        a img {
                            display: none;
                        }
                    };

                    &__date {
                        color: gray;
                        @include pc {};
                        @include sp {
                            display: block;
                            padding-top: 10px;
                        };
                    }
                    &__name {
                        @include pc {
                            padding: 0 40px 0 5px;
                            font-size: 1.3em;    
                        };
                        @include sp {
                            padding-top: 10px;  
                            font-size: 1rem;
                        };
                
                        a {
                            color: rgb(65, 65, 65);
                            text-decoration: none;
                        }
                    }
                    &__time {
                        position: absolute;
                        right: 400px;
                        color: gray;
                        @include pc {};
                        @include sp {
                        };
                
                    }
                }
            }
        }
        &-left {
            @include pc {
                width: 80px;
            };
            @include sp {
                // display: none;
            };    
        }
        &-right {
            overflow: auto;
            color: #999;
            width: 300px;
            text-align: center;
            @include pc {
                margin-top: 100px;
                width: 300px;
                min-height: 500px;    
            };
            @include sp {
                width: 100%;
                margin: 50px auto;
            };    
            a {
                color: #999;
                text-decoration: none;
            }
            a:hover {
                color: #333;
                background-color: #efefef;
            }
        }
        &-body {
            margin-top: 2rem;
            @include pc {};
            @include sp {};    
        }
        &-title {
            margin-top: 1.2rem;
            margin-bottom: 16px;
            font-weight: 700;
            line-height: 1.0;
            @include pc {
                font-size: 2.5rem;
            };
            @include sp {
                overflow: auto;
                font-size: 30px;
                padding: 10px 0;
            };    
        }
        &-tags {
            &__item {
                display: inline-flex;
                align-items: center;
                padding: .3rem;
                padding: 4px 8px;
                margin-bottom: 30px;
                color: #666;
                margin-right: 5px;
                background-color: #eee;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                @include pc {};
                @include sp {};
        
            }
        }
        &-markdown {
            @include markdown;
        }
    }
}

.c-post__article-box {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
    @include pc {};
    @include sp {};

    a {
        color: #000;
    }
    &-left {
        min-width: 40px;
        height: 40px;
        @include pc {};
        @include sp {};
        img {
            border-radius: 5px;
            cursor: pointer;
        }
    }
    &-right {
        padding-left: 20px;
        @include pc {};
        @include sp {};

        &__title {
            font-weight: bold;
            cursor: pointer;
            word-wrap: break-word;
            display: block;
            padding-bottom: 10px;
            :hover {
                border-bottom: 1px solid #333 !important;
            }
        }
        &__date {
            color: gray;
        }
        &__progress{
            display: flex;
        }
    }
}

#c-post__new-text {
        @include pc {
            width: 870px !important;
        };
        @include sp {};
}