@charset "utf-8";
@include pc {};
@include sp {};

.c-step {
    display: flex;
    // margin: 0 auto;
    @include pc {
        width: 100%;
    };
    @include sp {
        flex-direction: column;
        width: 100%;
    };

    &__side {
        // position: fixed;
        // left: 20px;
        width: 100%;
    }
    &__step {
        position: fixed;
        display: flex;
        flex-direction: column;
        overflow: visible !important;
        width: 250px;
        padding: 0 5px 0 5px;
        text-align-last: left;
        li {
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}