.c-step {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.c-step__side {
  width: 100%;
}
.c-step__step {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: visible !important;
  width: 250px;
  padding: 0 5px 0 5px;
  text-align-last: left;
}
.c-step__step li {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
