@charset "utf-8";

.c-step {
  display: flex;
  width: 100vw;
  margin: 0 auto;

  &__side {
    // position: fixed;
    // left: 20px;
    width: 100%;
    margin-top: 200px;
  }
  &__step {
    display: flex;
    flex-direction: column;
    overflow: visible !important;
    padding: 0 5px 0 5px;
  }
}
