@charset "utf-8";
@include pc {};
@include sp {};
@include markdown;

.c-tabs{
  &__showdetails {
    margin-top: 50px;
    // position: absolute;
    padding-bottom: 40px;
    margin: 0 auto;
    @include pc {
      width: 100% !important;
    };
    @include sp {};
    &-item {
      min-height: 40px;
      background-color: $base;
      line-height: 40px;
      text-align: center;
      color:  white;
      display: block;
      float: left;
      text-align: center;
      cursor: pointer;
      transition: all 0.1s ease;
      min-width: calc(100%/4);
      word-wrap: break-word;
      @include pc {
        font-size: 16px;
      };
      @include sp {
        font-size: .9rem;
        overflow: scroll;
      };
      :hover {
        opacity: 0.75;
      }
    }
    &-content　{
      display: none;
      padding: 40px 40px 0;
      clear: both;
      margin-bottom: 50px;
      word-wrap: break-word;
      @include pc {};
      @include sp {};
    }
  }

}
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  position: absolute;
  padding-bottom: 40px;
  margin: 0 auto;
  @include pc {
    width: 1000px;
  };
  @include sp {};
}

/*タブのスタイル*/
.tab_item {
  height: 50px;
  background-color: #f3f2f2;
  line-height: 50px;
  text-align: center;
  color: #313435;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.1s ease;
  min-width: calc(100%/4);
  @include pc {
    font-size: 16px;
  };
  @include sp {
    font-size: .9rem;
    overflow: scroll;
  };
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}


/*選択されているタブのコンテンツのみを表示*/
// MYPAGE
#ownpost:checked ~ #ownpost_content,
#like:checked ~ #like_content,
#tyarenzi-step:checked ~ #tyarenzi-step_content,
#stock:checked ~ #stock_content,
// SHOW POST
#step1:checked ~ #step1_content,
#step2:checked ~ #step2_content,
#step3:checked ~ #step3_content,
#step4:checked ~ #step4_content
{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background: #2a3132;
  color: #fff;
}

