@charset "utf-8";

@include pc {};
@include sp {};

// =================================================
// 共通パーツ
// =================================================


// =================================================
// login
// =================================================
.p-auth {
  &__form {
    position: relative;
    z-index: 1;
    max-width: 300px;
    padding: 30px;
    text-align: center;
    background: #fff;
    color: #000;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    @include pc {
      margin: 0 auto 100px;
    };
    @include sp {
      margin: 30px auto;
      label {
        display: inline-block;
        padding-bottom: 10px;
      }

    };
    &-thumbnail {
      box-sizing: border-box;
      width: 150px;
      height: 150px;
      padding: 27px 24px;
      margin: 0 auto 30px;
      background: $emeraldo;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-left-radius: 100%;
      @include pc {};
      @include sp {};
  
      &__update {
        img{
        box-sizing: border-box;
        width: 150px;
        height: 150px;
        padding: 27px 24px;
        margin: 0 auto 30px;
        background: none;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-top-left-radius: 100%;
        @include pc {};
        @include sp {};
    
        }
      }
    }
    &-thumbnail img {
      display: block;
      width: 100%;
    }

    & button {
      width: 100%;
      padding: 15px;
      color: #fff;
      font-size: 14px;
      background: $emeraldo;
      border: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      outline: 0;
      transition: all .3 ease;
      cursor: pointer;
      @include pc {};
      @include sp {};
  
    }
    &-question {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
      @include pc {};
      @include sp {};
  
    }
    &-question__link {
      color: $emeraldo;
      text-decoration: none;
    }
    &-login {
      input {
        @include auth-form__input;
      }
    }
    &-register {
      input {
        @include auth-form__input;
      }
    }
    &-email {
      input {
        @include auth-form__input;
      }
    }
    &-check {
      text-align: left;
      &-box {
        position: relative;
        padding: 0;
      }
      &-title {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 1em;
        @include pc {};
        @include sp {};
    
      }
    }
  }


  &__title {
    position: relative;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    text-align: center;
    @include pc {
      max-width: 300px;
      margin: 50px auto;  
    };
    @include sp {
      display: none;
    };


    & h1 {
      padding: 0;
      margin: 0 0 15px;
      color: #1a1a1a;
      font-size: 36px;
      font-weight: 300;
      @include pc {};
      @include sp {};
  
    }
  }
}






// =================================================
// register
// =================================================

// =================================================
// verify
// =================================================

// =================================================
// reset
// =================================================

// =================================================
// email
// =================================================
