.p-mypage {
  width: 100%;
  margin: 0 auto;
}
.p-mypage__bg {
  width: 1800px;
  height: 280px;
  background: #1cd8d2;
  background: -webkit-linear-gradient(to right, #93edc7, #1cd8d2);
  background: linear-gradient(to right, #93edc7, #1cd8d2);
}
.p-mypage__user {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.p-mypage__user-img {
  display: block;
  margin-top: -100px;
  margin-bottom: 20px;
}
.p-mypage__user-name {
  font-size: 2rem;
  margin-bottom: 20px;
}
.p-mypage__user-change__img {
  position: absolute;
  display: inline-block;
  top: 18em;
  margin-left: 120px;
  color: #000;
  font-size: 1.3em;
}
