@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap);@import url(https://fonts.googleapis.com/css?family=Girassol&display=swap);@charset "UTF-8";

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100%;
  box-sizing: border-box !important;
  font-family: Rubik, "Noto Sans JP", sans-serif !important;
  background: #F6F6F4 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

.b-wrapper {
  -webkit-box-flex: 1;
          flex: 1;
}

@media screen and (max-width: 768px) {
  body {
    background: #fff !important;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blue {
  color: #3490dc;
}

.indigo {
  color: #6574cd;
}

.purple {
  color: #9561e2;
}

.pink {
  color: #f66d9b;
}

.red {
  color: #cf524d;
}

.orange {
  color: #f6993f;
}

.yellow {
  color: #ffed4a;
}

.green {
  color: #38c172;
}

.teal {
  color: #4dc0b5;
}

.cyan {
  color: #6cb2eb;
}

.emeraldo {
  color: #B79B5B;
}

/* footer
----------------------------------------------------------------- */

@media (min-width: 767px) {
  .l-header {
    height: 65px;
    color: #e7e7e7;
    font-family: "PT Sans", sans-serif !important;
    font-size: 100%;
    background: #313435;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    color: #3b3d4b;
    box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
  }
}

@media (max-width: 767px) {
  .l-header {
    background: #ffffff;
  }
}

.l-header a {
  text-decoration: none;
  font-family: 'Girassol', cursive;
  color: #B79B5B;
}

.l-header p {
  color: #fff;
}

.l-header__title {
  font-size: 2rem;
  color: #000 !important;
}

@media (min-width: 767px) {
  .l-header__title {
    height: 65px;
    line-height: 65px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .l-header__title {
    display: block;
    margin-left: 20px;
    padding: 20px 0;
    font-size: 2.5rem;
    border-bottom: solid 1px #e0e7ef;
  }
}

.l-header__nav {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 300px;
  font-size: .9rem;
  text-align: center;
  cursor: auto;
}

@media (min-width: 767px) {
  .l-header__nav {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .l-header__nav {
    margin-right: 20px;
  }

  .l-header__nav li {
    line-height: 82px;
  }
}

.l-header__nav ul {
  width: auto;
  white-space: nowrap;
}

@media (min-width: 767px) {
  .l-header__nav ul {
    line-height: 65px;
  }
}

@media (max-width: 767px) {
  .l-header__nav ul {
    line-height: 50px;
  }
}

.l-header__nav li {
  display: inline-block;
}

.l-header__nav a {
  display: inline-block;
  height: auto;
  line-height: normal;
  background: transparent;
}

@media (min-width: 767px) {
  .l-header__spnav {
    display: none;
  }
}

@media (max-width: 767px) {
  .l-header__spnav {
    position: fixed;
    bottom: 0;
    opacity: 1 !important;
    background: #ffffff;
    z-index: 1000;
  }

  .l-header__spnav a {
    color: #9b8f8f;
  }

  .l-header__spnav label.icons {
    font-size: 25px;
    position: fixed;
    z-index: 3000;
    color: #9b8f8f;
    left: 50%;
    bottom: 0;
    opacity: 1;
  }

  .l-header__spnav label.home {
    -webkit-transform: translate(-135px, -15px);
            transform: translate(-135px, -15px);
  }

  .l-header__spnav label.search {
    -webkit-transform: translate(-54px, -12px);
            transform: translate(-54px, -12px);
  }

  .l-header__spnav label.bell {
    -webkit-transform: translate(30px, -15px);
            transform: translate(30px, -15px);
  }

  .l-header__spnav label.pen {
    -webkit-transform: translate(120px, -15px);
            transform: translate(120px, -15px);
  }

  .l-header__spnav div#box {
    z-index: 1000;
    width: 100vw;
    height: 60px;
    background-color: white;
    box-shadow: 0px 1px 2px black;
    position: fixed;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    border: 1px solid white;
    opacity: 1 !important;
  }
}

.l-header-dropdown a,
.l-header-dropdown a:visited {
  text-decoration: none;
  outline: none;
}

.l-header-dropdown > ul > li > a {
  color: inherit;
  text-decoration: none !important;
}

.l-header-dropdown li ul {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow: hidden;
  max-height: 0;
  font: bold;
  text-align: center;
  list-style: none;
  transition: max-height .4s linear;
  -webkit-transition: max-height .4s linear;
  -moz-transition: max-height .4s linear;
}

@media (min-width: 767px) {
  .l-header-dropdown li ul {
    right: 20px;
    width: 250px;
  }
}

@media (max-width: 767px) {
  .l-header-dropdown li ul {
    right: 20px;
    z-index: 2;
  }
}

.l-header-dropdown li ul li {
  background-color: #313435;
}

.l-header-dropdown li ul li:hover {
  background-color: #575757;
}

@media (min-width: 767px) {
  .l-header-dropdown li ul li {
    padding: 15px 0;
  }
}

@media (max-width: 767px) {
  .l-header-dropdown li ul li {
    padding: 1rem 2rem;
  }
}

.l-header-dropdown li ul li a {
  display: block;
  color: #fff !important;
  text-decoration: none !important;
}

.l-header-dropdown li ul li:first-child {
  position: relative;
  margin-top: 10px;
  border-radius: 3px 3px 0 0;
}

.l-header-dropdown li ul li:first-child:before {
  /* the pointer tip */
  content: "";
  position: fixed;
  top: -10px;
  left: 50%;
  width: 1px;
  height: 1px;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: #292a34;
}

.l-header-dropdown li ul li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.l-header-dropdown li:hover ul {
  max-height: 300px;
  /* Increase when adding more dropdown items */
}

.l-header-dropdown__child-user {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  min-width: 120px;
}

@media (min-width: 767px) {
  .l-header-dropdown__child-user {
    margin-right: 35px;
    line-height: 65px;
  }
}

@media (max-width: 767px) {
  .l-header-dropdown__child-user {
    line-height: 82px;
  }

  .l-header-dropdown__child-user p {
    color: #000;
  }
}

.l-header-dropdown__child-user__img {
  display: block;
}

.l-header a.l-header__signin {
  border: none;
  color: #fff;
}

@media (min-width: 767px) {
  .l-header a.l-header__signin {
    padding-right: 2rem;
  }
}

@media (max-width: 767px) {
  .l-header a.l-header__signin {
    color: #000;
    padding-right: 10px;
  }
}

.l-header a.l-header__signup {
  padding: .4em 1em;
  color: #fff;
  background: #B79B5B;
  border: 1px solid #B79B5B;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.l-container {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .l-container {
    width: 1200px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .l-container {
    width: 95%;
    margin-top: 20px;
  }
}

.l-container__main {
  margin: 0 auto;
  background: #fff;
}

@media (min-width: 767px) {
  .l-container__main {
    width: 585px;
  }
}

@media (max-width: 767px) {
  .l-container__main {
    width: 100%;
  }
}

.l-container__main-mypage {
  height: 100vh;
  margin: 0 20px;
  background: #fff;
}

@media (min-width: 767px) {
  .l-container__main-mypage {
    width: 500px;
  }
}

.c-post__detail {
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #000;
}

.c-post__box1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  min-height: 75px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.c-post__box1-img {
  width: 44px;
  height: 44px;
  padding: 0 16px;
}

.c-post__box1-title {
  width: 100%;
  min-height: 44px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.c-post__box1-title h2 {
  display: inline-block;
  margin-bottom: 10px;
  color: inherit;
  font-size: 1rem;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}

.c-post__box1-title p {
  color: #999;
  font-size: .9em;
}

.c-post__new-title {
  height: 100%;
  padding-bottom: 10px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .c-post__new-title {
    width: 870px;
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .c-post__new-title {
    width: 100%;
    margin-top: 10px;
  }
}

.c-post__new-title input {
  width: 100%;
  padding: 10px 0;
  padding-left: 5px;
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
  border: none;
}

@media (min-width: 767px) {
  .c-post__new-title input {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .c-post__new-title input {
    font-size: 0.9rem;
  }
}

.c-post__new-box {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .c-post__new-box {
    width: 870px;
  }
}

@media (max-width: 767px) {
  .c-post__new-box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.c-post__new-box__tags {
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  color: transparent;
  background: #fff;
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
}

@media (min-width: 767px) {
  .c-post__new-box__tags {
    width: 670px;
  }
}

@media (max-width: 767px) {
  .c-post__new-box__tags {
    width: 100%;
  }
}

.c-post__new-box__tags input {
  width: 100%;
  padding: 7px 0;
  padding-left: 5px;
  font-size: 12px;
  border: none;
}

@media (max-width: 767px) {
  .c-post__new-box__tags input {
    width: 100vw;
  }
}

.c-post__new-box__time {
  width: 200px;
  height: 100%;
  padding-top: 5px;
  color: #757575;
  text-align: center;
}

.c-post__new-submit {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  background: #fff;
}

@media (min-width: 767px) {
  .c-post__new-submit {
    width: 870px;
  }
}

@media (max-width: 767px) {
  .c-post__new-submit {
    width: 95%;
    display: block;
    margin-bottom: 80px;
  }
}

.c-post__new-submit button {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  color: #B79B5B;
  font-size: 14px;
  background: #fff;
  border: 0;
  border: solid #B79B5B 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: 0;
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
  cursor: pointer;
}

.c-post__new-submit button:hover {
  background: #B79B5B;
  color: #fff;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.c-post__show {
  display: -webkit-box;
  display: flex;
}

@media (min-width: 767px) {
  .c-post__show {
    width: 1280px;
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .c-post__show {
    margin: 0 auto;
  }
}

.c-post__show-main {
  margin: 0 auto;
  background: #ffffff;
}

@media (min-width: 767px) {
  .c-post__show-main {
    width: 900px;
    min-height: 600px;
    padding: 3rem;
  }
}

@media (max-width: 767px) {
  .c-post__show-main {
    width: 90%;
  }
}

.c-post__show-main__header-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .c-post__show-main__header-list a img {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    border-radius: .2em;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
  }
}

@media (max-width: 767px) {
  .c-post__show-main__header-list {
    margin: 30px auto 50px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .c-post__show-main__header-list a img {
    display: none;
  }
}

.c-post__show-main__header-list__date {
  color: gray;
}

@media (max-width: 767px) {
  .c-post__show-main__header-list__date {
    display: block;
    padding-top: 10px;
  }
}

@media (min-width: 767px) {
  .c-post__show-main__header-list__name {
    padding: 0 40px 0 5px;
    font-size: 1.3em;
  }
}

@media (max-width: 767px) {
  .c-post__show-main__header-list__name {
    padding-top: 10px;
    font-size: 1rem;
  }
}

.c-post__show-main__header-list__name a {
  color: #414141;
  text-decoration: none;
}

.c-post__show-main__header-list__time {
  position: absolute;
  right: 400px;
  color: gray;
}

@media (min-width: 767px) {
  .c-post__show-left {
    width: 80px;
    margin-left: 100px;
    margin-right: 30px;
  }
}

.c-post__show-right {
  overflow: auto;
  color: #999;
  width: 100%;
  text-align: center;
}

@media (min-width: 767px) {
  .c-post__show-right {
    margin-top: 50px;
    width: 300px;
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .c-post__show-right {
    width: 100%;
    margin: 50px auto;
  }
}

.c-post__show-right a {
  color: #999;
  text-decoration: none;
}

.c-post__show-right a:hover {
  color: #333;
  background-color: #efefef;
}

.c-post__show-body {
  margin-top: 2rem;
}

.c-post__show-title {
  margin-top: 1.2rem;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.0;
}

@media (min-width: 767px) {
  .c-post__show-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .c-post__show-title {
    overflow: auto;
    font-size: 30px;
    padding: 10px 0;
  }
}

.c-post__show-tags__item {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  padding: .3rem;
  padding: 4px 8px;
  margin-bottom: 30px;
  color: #666;
  margin-right: 5px;
  background-color: #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.article-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.article-box a {
  color: #000;
}

.article-box .article-box-left {
  min-width: 40px;
  height: 40px;
}

.article-box .article-box-left img {
  border-radius: 5px;
  cursor: pointer;
}

.article-box .article-box-right {
  padding-left: 20px;
}

.article-box .article-box-right .article-title {
  font-weight: bold;
  cursor: pointer;
  word-wrap: break-word;
}

.article-box .article-box-right .article-date {
  color: gray;
}

.c-button {
  cursor: pointer;
}

.c-button__show-social {
  display: -webkit-box;
  display: flex;
  color: #B79B5B;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 767px) {
  .c-button__show-social {
    margin-top: 50px;
    position: fixed;
    width: 50px;
  }
}

@media (max-width: 767px) {
  .c-button__show-social {
    width: 30px;
    margin-top: 30px;
    position: absolute;
    margin-left: 15px;
  }
}

.c-button__show-social__twitter {
  width: 30px;
  margin: 0 auto;
  margin-top: 50px;
}

.c-button__show-social__twitter img {
  background: #f5f5f5;
}

.c-button__show-social__like {
  width: 50px;
  height: 50px;
  padding: 9px 0;
  margin-bottom: 10px;
  color: #ED4264;
  font-size: 20px;
  text-align: center;
  background: #f5f5f5;
  background-color: #fff;
  outline: none;
  border-radius: 50%;
}

@media (min-width: 767px) {
  .c-button__show-social__like {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    padding: 9px 0;
    border: 2px solid #ED4264;
  }
}

@media (max-width: 767px) {
  .c-button__show-social__like {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: .5px solid #ED4264;
  }
}

.c-button__show-social__dislike {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: #EF566E;
  outline: none;
  border-radius: 50%;
  border: none;
}

@media (min-width: 767px) {
  .c-button__show-social__dislike {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    padding: 9px 0;
  }
}

@media (max-width: 767px) {
  .c-button__show-social__dislike {
    width: 40px;
    height: 40px;
    padding: 0;
  }
}

.c-button__show-social__stock {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: #777;
  outline: none;
  border-radius: 50%;
  border: none;
}

@media (min-width: 767px) {
  .c-button__show-social__stock {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    padding: 9px 0;
  }
}

@media (max-width: 767px) {
  .c-button__show-social__stock {
    width: 40px;
    height: 40px;
    padding: 0px;
  }
}

.c-button__show-social__stock .fa-folder-open {
  padding: 14px 0;
}

.c-button__show-social__unstock {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: #cccccc;
  outline: none;
  border-radius: 50%;
  border: none;
}

@media (min-width: 767px) {
  .c-button__show-social__unstock {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .c-button__show-social__unstock {
    width: 40px;
    height: 40px;
    padding: 0px;
  }
}

.c-button__show-social__unstock .fa-folder-open {
  padding: 14px 0;
}

@media (max-width: 767px) {
  .c-button__show-social__unstock .fa-folder-open {
    padding: 0px;
  }
}

.c-button__show-social__count {
  position: absolute;
  color: #ff8ba7;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 767px) {
  .c-button__show-social__count {
    top: -30px;
    width: 50px;
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .c-button__show-social__count {
    top: -25px;
    width: 40px;
    font-size: 1.2rem;
  }
}

.c-button__show-social__stockcount {
  position: absolute;
  left: -50px;
  top: 75px;
  width: 50px;
  color: #777;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.c-button__show-challange {
  display: block;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  color: #FFF !important;
  background: #FF416C;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FF4B2B), to(#FF416C));
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 767px) {
  .c-button__show-challange {
    width: 200px;
    margin: 0 auto;
    padding: 0.8em 1em;
    margin: 80px 0 80px 30px;
  }
}

@media (max-width: 767px) {
  .c-button__show-challange {
    padding: 0.8em 1em;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.c-button__show-challange :hover {
  cursor: pointer !important;
  padding: 20px;
}

.c-button-header__post a {
  color: #fff;
  background: #B79B5B;
}

@media (min-width: 767px) {
  .c-button-header__post a {
    border-radius: 3px;
    border: 1px solid #B79B5B;
    padding: .4em 1em;
  }
}

@media (max-width: 767px) {
  .c-button-header__post a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: .6em 1.2em;
    color: #fff;
    background: #B79B5B;
    border-radius: 10px;
  }
}

#c-button_post-delete {
  background: #cf524d;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
  border: none;
}

@media (min-width: 767px) {
  #c-button_post-delete {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  #c-button_post-delete {
    margin-top: 3px;
  }
}

#c-button_post-edit {
  background: #4dc0b5;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
  border: none;
}

@media (min-width: 767px) {
  #c-button_post-edit {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  #c-button_post-edit {
    margin-top: 3px;
  }
}

.c-step {
  display: -webkit-box;
  display: flex;
}

@media (min-width: 767px) {
  .c-step {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .c-step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 100%;
  }
}

.c-step__side {
  width: 100%;
}

.c-step__step {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow: visible !important;
  width: 250px;
  padding: 0 5px 0 5px;
  -moz-text-align-last: left;
       text-align-last: left;
}

.c-step__step li {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.step-tab-panel {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.step-tab-panel .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.step-tab-panel .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.step-tab-panel .anchor:focus {
  outline: none;
}

.step-tab-panel .ql-align-center {
  text-align: center;
}

.step-tab-panel .ql-align-right {
  text-align: right;
}

.step-tab-panel .ql-align-left {
  text-align: left;
}

.step-tab-panel .ql-indent-1 {
  padding-left: 3em;
}

.step-tab-panel .ql-indent-2 {
  padding-left: 6em;
}

.step-tab-panel .ql-indent-3 {
  padding-left: 9em;
}

.step-tab-panel .ql-indent-4 {
  padding-left: 12em;
}

.step-tab-panel .ql-indent-5 {
  padding-left: 15em;
}

.step-tab-panel .ql-indent-6 {
  padding-left: 18em;
}

.step-tab-panel .ql-indent-7 {
  padding-left: 21em;
}

.step-tab-panel .ql-indent-8 {
  padding-left: 24em;
}

.step-tab-panel strong {
  font-weight: 800;
}

.step-tab-panel h1 .octicon-link,
.step-tab-panel h2 .octicon-link,
.step-tab-panel h3 .octicon-link,
.step-tab-panel h4 .octicon-link,
.step-tab-panel h5 .octicon-link,
.step-tab-panel h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.step-tab-panel h1:hover .anchor,
.step-tab-panel h2:hover .anchor,
.step-tab-panel h3:hover .anchor,
.step-tab-panel h4:hover .anchor,
.step-tab-panel h5:hover .anchor,
.step-tab-panel h6:hover .anchor {
  text-decoration: none;
}

.step-tab-panel h1:hover .anchor .octicon-link,
.step-tab-panel h2:hover .anchor .octicon-link,
.step-tab-panel h3:hover .anchor .octicon-link,
.step-tab-panel h4:hover .anchor .octicon-link,
.step-tab-panel h5:hover .anchor .octicon-link,
.step-tab-panel h6:hover .anchor .octicon-link {
  visibility: visible;
}

.step-tab-panel .pl-c {
  color: #6a737d;
}

.step-tab-panel .pl-c1,
.step-tab-panel .pl-s .pl-v {
  color: #005cc5;
}

.step-tab-panel .pl-e,
.step-tab-panel .pl-en {
  color: #6f42c1;
}

.step-tab-panel .pl-s .pl-s1,
.step-tab-panel .pl-smi {
  color: #24292e;
}

.step-tab-panel .pl-ent {
  color: #22863a;
}

.step-tab-panel .pl-k {
  color: #d73a49;
}

.step-tab-panel .pl-pds,
.step-tab-panel .pl-s,
.step-tab-panel .pl-s .pl-pse .pl-s1,
.step-tab-panel .pl-sr,
.step-tab-panel .pl-sr .pl-cce,
.step-tab-panel .pl-sr .pl-sra,
.step-tab-panel .pl-sr .pl-sre {
  color: #032f62;
}

.step-tab-panel .pl-smw,
.step-tab-panel .pl-v {
  color: #e36209;
}

.step-tab-panel .pl-bu {
  color: #b31d28;
}

.step-tab-panel .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.step-tab-panel .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

.step-tab-panel .pl-c2:before {
  content: "^M";
}

.step-tab-panel .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.step-tab-panel .pl-ml {
  color: #735c0f;
}

.step-tab-panel .pl-mh,
.step-tab-panel .pl-mh .pl-en,
.step-tab-panel .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

.step-tab-panel .pl-mi {
  color: #24292e;
  font-style: italic;
}

.step-tab-panel .pl-mb {
  color: #24292e;
  font-weight: 700;
}

.step-tab-panel .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.step-tab-panel .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.step-tab-panel .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

.step-tab-panel .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

.step-tab-panel .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

.step-tab-panel .pl-ba {
  color: #586069;
}

.step-tab-panel .pl-sg {
  color: #959da5;
}

.step-tab-panel .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

.step-tab-panel details {
  display: block;
}

.step-tab-panel summary {
  display: list-item;
}

.step-tab-panel a {
  background-color: transparent;
}

.step-tab-panel a:active,
.step-tab-panel a:hover {
  outline-width: 0;
}

.step-tab-panel strong {
  font-weight: inherit;
  font-weight: bolder;
}

@media (min-width: 767px) {
  .step-tab-panel h1 {
    font-size: 2em;
    margin: .67em 0;
  }
}

@media (max-width: 767px) {
  .step-tab-panel h1 {
    font-size: 27px !important;
    margin: .67em 0;
  }
}

.step-tab-panel img {
  border-style: none;
}

.step-tab-panel em {
  font-style: italic;
}

.step-tab-panel code,
.step-tab-panel kbd,
.step-tab-panel pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.step-tab-panel hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.step-tab-panel input {
  font: inherit;
  margin: 0;
}

.step-tab-panel input {
  overflow: visible;
}

.step-tab-panel [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.step-tab-panel * {
  box-sizing: border-box;
}

.step-tab-panel input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.step-tab-panel a {
  color: #0366d6;
  text-decoration: none;
}

.step-tab-panel a:hover {
  text-decoration: underline;
}

.step-tab-panel strong {
  font-weight: 600;
}

.step-tab-panel hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

.step-tab-panel hr:before {
  content: "";
  display: table;
}

.step-tab-panel hr:after {
  clear: both;
  content: "";
  display: table;
}

.step-tab-panel table {
  border-collapse: collapse;
  border-spacing: 0;
}

.step-tab-panel td,
.step-tab-panel th {
  padding: 0;
}

.step-tab-panel details summary {
  cursor: pointer;
}

.step-tab-panel h1,
.step-tab-panel h2,
.step-tab-panel h3,
.step-tab-panel h4,
.step-tab-panel h5,
.step-tab-panel h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.step-tab-panel h1 {
  font-size: 32px;
}

.step-tab-panel h1,
.step-tab-panel h2 {
  font-weight: 600;
}

.step-tab-panel h2 {
  font-size: 24px;
}

.step-tab-panel h3 {
  font-size: 20px;
}

.step-tab-panel h3,
.step-tab-panel h4 {
  font-weight: 600;
}

.step-tab-panel h4 {
  font-size: 16px;
}

.step-tab-panel h5 {
  font-size: 14px;
}

.step-tab-panel h5,
.step-tab-panel h6 {
  font-weight: 600;
}

.step-tab-panel h6 {
  font-size: 12px !important;
}

.step-tab-panel p {
  margin-bottom: 10px;
  margin-top: 0;
}

.step-tab-panel blockquote {
  margin: 0;
}

.step-tab-panel ol {
  list-style-type: decimal;
}

.step-tab-panel ul {
  list-style-type: square;
}

.step-tab-panel ol,
.step-tab-panel ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.step-tab-panel ol ol,
.step-tab-panel ul ol {
  list-style-type: lower-roman;
}

.step-tab-panel ol ol ol,
.step-tab-panel ol ul ol,
.step-tab-panel ul ol ol,
.step-tab-panel ul ul ol {
  list-style-type: lower-alpha;
}

.step-tab-panel dd {
  margin-left: 0;
}

.step-tab-panel code,
.step-tab-panel pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
}

.step-tab-panel pre {
  margin-bottom: 0;
  margin-top: 0;
}

.step-tab-panel pre span.o {
  color: #ff8095 !important;
}

.step-tab-panel pre span.p {
  color: #e3e3e3 !important;
}

.step-tab-panel pre span.kc {
  color: #ebd247 !important;
}

.step-tab-panel pre span.nx,
.step-tab-panel pre span.na {
  color: #8bdf4c !important;
}

.step-tab-panel input::-webkit-inner-spin-button,
.step-tab-panel input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.step-tab-panel .border {
  border: 1px solid #e1e4e8 !important;
}

.step-tab-panel .border-0 {
  border: 0 !important;
}

.step-tab-panel .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

.step-tab-panel .rounded-1 {
  border-radius: 3px !important;
}

.step-tab-panel .bg-white {
  background-color: #fff !important;
}

.step-tab-panel .bg-gray-light {
  background-color: #fafbfc !important;
}

.step-tab-panel .text-gray-light {
  color: #6a737d !important;
}

.step-tab-panel .mb-0 {
  margin-bottom: 0 !important;
}

.step-tab-panel .my-2 {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.step-tab-panel .pl-0 {
  padding-left: 0 !important;
}

.step-tab-panel .py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.step-tab-panel .pl-1 {
  padding-left: 4px !important;
}

.step-tab-panel .pl-2 {
  padding-left: 8px !important;
}

.step-tab-panel .py-2 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.step-tab-panel .pl-3,
.step-tab-panel .px-3 {
  padding-left: 16px !important;
}

.step-tab-panel .px-3 {
  padding-right: 16px !important;
}

.step-tab-panel .pl-4 {
  padding-left: 24px !important;
}

.step-tab-panel .pl-5 {
  padding-left: 32px !important;
}

.step-tab-panel .pl-6 {
  padding-left: 40px !important;
}

.step-tab-panel .f6 {
  font-size: 12px !important;
}

.step-tab-panel .lh-condensed {
  line-height: 1.25 !important;
}

.step-tab-panel .text-bold {
  font-weight: 600 !important;
}

.step-tab-panel .markdown-body:before {
  content: "";
  display: table;
}

.step-tab-panel .markdown-body:after {
  clear: both;
  content: "";
  display: table;
}

.step-tab-panel .markdown-body > :first-child {
  margin-top: 0 !important;
}

.step-tab-panel .markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.step-tab-panel a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.step-tab-panel blockquote,
.step-tab-panel dl,
.step-tab-panel ol,
.step-tab-panel p,
.step-tab-panel pre,
.step-tab-panel table,
.step-tab-panel ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.step-tab-panel hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

.step-tab-panel blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.step-tab-panel blockquote > :first-child {
  margin-top: 0;
}

.step-tab-panel blockquote > :last-child {
  margin-bottom: 0;
}

.step-tab-panel kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.step-tab-panel h1,
.step-tab-panel h2,
.step-tab-panel h3,
.step-tab-panel h4,
.step-tab-panel h5,
.step-tab-panel h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.step-tab-panel h1 {
  font-size: 2em;
}

.step-tab-panel h1,
.step-tab-panel h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

.step-tab-panel h2 {
  font-size: 1.5em;
}

.step-tab-panel h3 {
  font-size: 1.25em;
}

.step-tab-panel h4 {
  font-size: 1em;
}

.step-tab-panel h5 {
  font-size: .875em;
}

.step-tab-panel h6 {
  color: #6a737d;
  font-size: .85em;
}

.step-tab-panel ol,
.step-tab-panel ul {
  padding-left: 2em;
}

.step-tab-panel ol ol,
.step-tab-panel ol ul,
.step-tab-panel ul ol,
.step-tab-panel ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.step-tab-panel li {
  word-wrap: break-all;
}

.step-tab-panel li > p {
  margin-top: 16px;
}

.step-tab-panel li + li {
  margin-top: .25em;
}

.step-tab-panel dl {
  padding: 0;
}

.step-tab-panel dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

.step-tab-panel dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.step-tab-panel table {
  display: block;
  overflow: auto;
  width: 100%;
}

.step-tab-panel table th {
  font-weight: 600;
}

.step-tab-panel table td,
.step-tab-panel table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.step-tab-panel table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.step-tab-panel table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.step-tab-panel img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}

.step-tab-panel img[align=right] {
  padding-left: 20px;
}

.step-tab-panel img[align=left] {
  padding-right: 20px;
}

.step-tab-panel code {
  background-color: #364549;
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.step-tab-panel pre {
  word-wrap: normal;
}

.step-tab-panel pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.step-tab-panel .highlight {
  margin-bottom: 16px;
}

.step-tab-panel .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.step-tab-panel .highlight pre,
.step-tab-panel pre {
  background-color: #364549;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  color: #fff;
}

.step-tab-panel pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.step-tab-panel .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 90%;
}

.step-tab-panel .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

.step-tab-panel .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.step-tab-panel .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27, 31, 35, 0.3);
  cursor: pointer;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

.step-tab-panel .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}

.step-tab-panel .blob-num:before {
  content: attr(data-line-number);
}

.step-tab-panel .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

.step-tab-panel .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}

.step-tab-panel .pl-token.active,
.step-tab-panel .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}

.step-tab-panel kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.step-tab-panel :checked + .radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

.step-tab-panel .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  -o-tab-size: 1;
     tab-size: 1;
}

.step-tab-panel .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
     tab-size: 2;
}

.step-tab-panel .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  -o-tab-size: 3;
     tab-size: 3;
}

.step-tab-panel .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

.step-tab-panel .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  -o-tab-size: 5;
     tab-size: 5;
}

.step-tab-panel .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  -o-tab-size: 6;
     tab-size: 6;
}

.step-tab-panel .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  -o-tab-size: 7;
     tab-size: 7;
}

.step-tab-panel .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  -o-tab-size: 8;
     tab-size: 8;
}

.step-tab-panel .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  -o-tab-size: 9;
     tab-size: 9;
}

.step-tab-panel .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  -o-tab-size: 10;
     tab-size: 10;
}

.step-tab-panel .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  -o-tab-size: 11;
     tab-size: 11;
}

.step-tab-panel .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  -o-tab-size: 12;
     tab-size: 12;
}

.step-tab-panel .task-list-item {
  list-style-type: none;
}

.step-tab-panel .task-list-item + .task-list-item {
  margin-top: 3px;
}

.step-tab-panel .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.step-tab-panel hr {
  border-bottom-color: #eee;
}

.step-tab-panel .pl-0 {
  padding-left: 0 !important;
}

.step-tab-panel .pl-1 {
  padding-left: 4px !important;
}

.step-tab-panel .pl-2 {
  padding-left: 8px !important;
}

.step-tab-panel .pl-3 {
  padding-left: 16px !important;
}

.step-tab-panel .pl-4 {
  padding-left: 24px !important;
}

.step-tab-panel .pl-5 {
  padding-left: 32px !important;
}

.step-tab-panel .pl-6 {
  padding-left: 40px !important;
}

.step-tab-panel .pl-7 {
  padding-left: 48px !important;
}

.step-tab-panel .pl-8 {
  padding-left: 64px !important;
}

.step-tab-panel .pl-9 {
  padding-left: 80px !important;
}

.step-tab-panel .pl-10 {
  padding-left: 96px !important;
}

.step-tab-panel .pl-11 {
  padding-left: 112px !important;
}

.step-tab-panel .pl-12 {
  padding-left: 128px !important;
}

.p-auth__form {
  position: relative;
  z-index: 1;
  max-width: 300px;
  padding: 30px;
  text-align: center;
  background: #fff;
  color: #000;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

@media (min-width: 767px) {
  .p-auth__form {
    margin: 0 auto 100px;
  }
}

@media (max-width: 767px) {
  .p-auth__form {
    margin: 30px auto;
  }

  .p-auth__form label {
    display: inline-block;
    padding-bottom: 10px;
  }
}

.p-auth__form-thumbnail {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 27px 24px;
  margin: 0 auto 30px;
  background: #B79B5B;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.p-auth__form-thumbnail__update img {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 27px 24px;
  margin: 0 auto 30px;
  background: none;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.p-auth__form-thumbnail img {
  display: block;
  width: 100%;
}

.p-auth__form button {
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  background: #B79B5B;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: 0;
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
  cursor: pointer;
}

.p-auth__form-question {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.p-auth__form-question__link {
  color: #B79B5B;
  text-decoration: none;
}

.p-auth__form-login input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 0 0 15px;
  font-size: 14px;
  background: #eff0f1;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: 0;
}

.p-auth__form-register input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 0 0 15px;
  font-size: 14px;
  background: #eff0f1;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: 0;
}

.p-auth__form-email input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 0 0 15px;
  font-size: 14px;
  background: #eff0f1;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: 0;
}

.p-auth__form-check {
  text-align: left;
}

.p-auth__form-check-box {
  position: relative;
  padding: 0;
}

.p-auth__form-check-title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1em;
}

.p-auth__title {
  position: relative;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media (min-width: 767px) {
  .p-auth__title {
    max-width: 300px;
    margin: 50px auto;
  }
}

@media (max-width: 767px) {
  .p-auth__title {
    display: none;
  }
}

.p-auth__title h1 {
  padding: 0;
  margin: 0 0 15px;
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 300;
}

.p-mypage {
  width: 100%;
  margin: 0 auto;
}

.p-mypage__bg {
  background: #313435;
  /* fallback for old browsers */
}

@media (min-width: 767px) {
  .p-mypage__bg {
    width: 1800px;
    height: 280px;
  }
}

@media (max-width: 767px) {
  .p-mypage__bg {
    width: 100%;
    height: 150px;
  }
}

.p-mypage__user {
  min-height: 300px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .p-mypage__user {
    width: 500px;
  }
}

.p-mypage__user-img {
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .p-mypage__user-img {
    margin-top: -100px;
  }
}

@media (max-width: 767px) {
  .p-mypage__user-img {
    margin-top: -60px;
  }
}

.p-mypage__user-img img {
  display: block;
  margin: 0px auto;
  border-radius: 50%;
  background: white;
}

@media (min-width: 767px) {
  .p-mypage__user-img img {
    width: 150px;
    height: 150px;
    border: 5px solid white;
  }
}

@media (max-width: 767px) {
  .p-mypage__user-img img {
    width: 100px;
    height: 100px;
    border: 3px solid white;
  }
}

.p-mypage__user-name {
  font-size: 2rem;
  margin-bottom: 20px;
}

.p-mypage__user-change__img {
  position: absolute;
  display: inline-block;
  top: 18em;
  margin-left: 120px;
  color: #000;
  font-size: 1.3em;
}

.p-mypage__user-change__info {
  display: block;
  color: #fff;
  background: #B79B5B;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

@media (min-width: 767px) {
  .p-mypage__user-change__info {
    width: 200px;
    margin: 30px auto;
    padding: .6em 1em;
  }
}

@media (max-width: 767px) {
  .p-mypage__user-change__info {
    width: 200px;
    margin-top: 50px;
    padding: .7em 1em;
  }
}

.p-mypage__user-change__info #text {
  word-wrap: break-word !important;
  display: block;
  width: 100%;
}

.p-mypage__tab {
  padding: 20px 0;
  border-top: solid 1px #e0e7ef;
  margin: 50px auto;
}

@media (min-width: 767px) {
  .p-mypage__tab {
    width: 1000px;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .p-mypage__tab {
    width: 100%;
    overflow: scroll;
  }
}

/*タブ切り替え全体のスタイル*/

.tabs {
  margin-top: 50px;
  position: absolute;
  padding-bottom: 40px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .tabs {
    width: 1000px;
  }
}

/*タブのスタイル*/

.tab_item {
  height: 50px;
  background-color: #f3f2f2;
  line-height: 50px;
  text-align: center;
  color: #313435;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  min-width: calc(100%/4);
}

@media (min-width: 767px) {
  .tab_item {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .tab_item {
    font-size: .9rem;
    overflow: scroll;
  }
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/

input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}

/*選択されているタブのコンテンツのみを表示*/

#ownpost:checked ~ #ownpost_content,
#like:checked ~ #like_content,
#tyarenzi-step:checked ~ #tyarenzi-step_content,
#stock:checked ~ #stock_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/

.tabs input:checked + .tab_item {
  background: #2a3132;
  color: #fff;
}

.u-flex {
  display: -webkit-box;
  display: flex;
}

.validation {
  color: red;
  font-size: 14px;
}

.u-other__alert {
  width: 100%;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #B79B5B;
}

.u-other__fukidashi-like {
  display: none;
  min-width: 120px;
  left: 65px;
  top: 10px;
  position: absolute;
  padding: 10px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: .7rem;
}

.u-other__fukidashi-like :after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.u-other__fukidashi-stock {
  display: none;
  min-width: 120px;
  left: 65px;
  top: 70px;
  position: absolute;
  padding: 10px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: .7rem;
}

.u-other__fukidashi-stock :after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.ck-content {
  overflow: scroll;
  width: 100%;
  height: 400px;
}

span:hover + .u-other__fukidashi-like {
  display: block !important;
}

span:hover + .u-other__fukidashi-stock {
  display: block !important;
}

.u-space__a__pt-5 {
  display: inline-block;
  padding-top: 5px;
}

.u-space__a__pt-10 {
  display: inline-block;
  padding-top: 10px;
}

.u-space__a__pl-20 {
  padding: 20px;
}

.u-space__a__mt-200 {
  margin-top: 200px;
}

/* The input */

.tags-input {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
}

.tags-input input {
  -webkit-box-flex: 1;
          flex: 1;
  background: transparent;
  border: none;
}

.tags-input input:focus {
  outline: none;
}

.tags-input input[type="text"] {
  color: #495057;
}

.tags-input-wrapper-default {
  padding: .5rem .25rem;
  background: #fff;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #dbdbdb;
}

/* The tag badges & the remove icon */

.tags-input span {
  margin-right: 0.3rem;
}

.tags-input-remove {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  overflow: hidden;
}

.tags-input-remove:before,
.tags-input-remove:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: #5dc282;
  height: 2px;
  margin-top: -1px;
}

.tags-input-remove:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tags-input-remove:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Tag badge styles */

.tags-input-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.tags-input-badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.tags-input-badge-selected-default {
  color: #212529;
  background-color: #f0f1f2;
}

/* Typeahead */

.typeahead-hide-btn {
  color: #999 !important;
  font-style: italic;
}

/* Typeahead - badges */

.typeahead-badges > span {
  cursor: pointer;
  margin-right: 0.3rem;
}

/* Typeahead - dropdown */

.typeahead-dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.typeahead-dropdown li {
  padding: .25rem 1rem;
  cursor: pointer;
}

/* Typeahead elements style/theme */

.tags-input-typeahead-item-default {
  color: #fff;
  background-color: #343a40;
}

.tags-input-typeahead-item-highlighted-default {
  color: #fff;
  background-color: #007bff;
}

.toc {
  overflow: auto;
  color: #999;
}

@media (min-width: 767px) {
  .toc {
    position: fixed;
    width: 300px;
    padding: 0 10px;
    min-height: 200px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .toc {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    min-height: 100px;
  }
}

.toc a {
  color: #999;
  text-decoration: none;
  display: block;
  padding: 3px 10px !important;
  line-height: 1.4;
  color: #999;
  font-size: .9em;
}

.toc a:hover {
  color: #333;
  background-color: #efefef;
}

.toc-h2 {
  margin-left: 10px;
}

.toc-h3 {
  margin-left: 20px;
}

.toc-h4 {
  margin-left: 30px;
}

.toc-h5 {
  margin-left: 40px;
}

.toc-h6 {
  margin-left: 50px;
}

.toc-visible {
  color: #000;
  font-weight: bold;
}

.toc .right {
  right: 0;
}

.u-pagenation {
  width: 100%;
  text-align: center;
}

/* その4  */

.pagination {
  display: -webkit-box;
  display: flex;
  text-align: center;
  cursor: pointer;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.pagination li {
  position: relative;
  display: inline;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0 2px;
  text-align: center;
  border-radius: 50px;
}

.page-item {
  line-height: 50px;
}

.vue-form-wizard {
  margin: 0 auto;
}

@media (min-width: 767px) {
  .vue-form-wizard {
    width: 870px;
  }
}

@media (max-width: 767px) {
  .vue-form-wizard {
    width: 100%;
  }
}

.vue-form-wizard .wizard-header {
  display: none;
}

.vue-form-wizard .wizard-nav-pills > li > a.disabled {
  display: none !important;
}

.quillWrapper {
  background: #fff;
}

.ql-editor {
  min-height: 300px !important;
}

.vue-form-wizard.md .wizard-icon-circle {
  width: 50px !important;
  height: 50px !important;
  font-size: 15px !important;
}

.vue-form-wizard .wizard-nav-pills > li > a {
  top: 10px !important;
}

.vue-form-wizard .wizard-card-footer {
  padding: 0 !important;
}

.wizard-navigation {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
          flex-direction: column !important;
}

.vue-form-wizard .wizard-tab-content {
  padding: 20px 0 10px !important;
}

.vue-form-wizard {
  padding-bottom: 10px !important;
}

.stepTitle {
  padding-top: 5px;
}

.wizard-icon {
  position: absolute;
  top: 12px;
  font-size: 18px;
}

.vue-form-wizard.md .wizard-nav-pills {
  display: -webkit-box;
  display: flex;
}

@media (min-width: 767px) {
  .vue-form-wizard.md .wizard-nav-pills {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    left: 200px;
    position: fixed;
  }
}

.vue-form-wizard.md .wizard-nav-pills > li {
  margin-top: 10px;
}

.vue-form-wizard.md .wizard-nav-pills > li.active > a svg {
  color: #ff7694;
}

.wizard-progress-bar {
  display: none;
}

.vue-form-wizard.md .wizard-nav-pills > li.active > a .wizard-icon {
  font-size: 20px !important;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
  border: none;
}

.quillWrapper .ql-snow.ql-toolbar {
  border-top: none;
  border-right: none;
  border-bottom: solid .8px #eee !important;
  border-left: none;
}


/*# sourceMappingURL=app.css.map*/