@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100%;
  background: #f5f5f5 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-wrapper {
  -webkit-box-flex: 1;
          flex: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blue {
  color: #3490dc;
}

.indigo {
  color: #6574cd;
}

.purple {
  color: #9561e2;
}

.pink {
  color: #f66d9b;
}

.red {
  color: #e3342f;
}

.orange {
  color: #f6993f;
}

.yellow {
  color: #ffed4a;
}

.green {
  color: #38c172;
}

.teal {
  color: #4dc0b5;
}

.cyan {
  color: #6cb2eb;
}

.emeraldo {
  color: #2db697;
}

/* footer
----------------------------------------------------------------- */

/* header
----------------------------------------------------------------- */

.l-header {
  height: 50px;
  color: #e7e7e7;
  font-family: "PT Sans", sans-serif;
  font-size: 100%;
  background: #343642;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-header input,
.l-header textarea {
  font-size: 16px;
  font-size: 1rem;
}

.l-header input::-ms-clear,
.l-header textarea::-ms-clear {
  display: none;
}

.l-header a {
  color: #2db697;
  text-decoration: none;
}

.l-header::after {
  /* clearfix */
  content: "";
  clear: both;
  display: table;
}

.l-header__title {
  margin-left: 30px;
  font-size: 1.5rem;
  line-height: 50px;
}

.l-header__title a {
  color: #fff;
}

.l-header__nav {
  float: right;
  width: 44px;
  height: 100%;
  margin-right: 5%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-menu.svg") no-repeat center center;
  cursor: pointer;
}

.l-header__nav a {
  display: block;
  height: 50px;
  padding-left: 5%;
  color: #fff;
  line-height: 50px;
  background: #292a34;
  border-top: 1px solid #3b3d4b;
}

@media only screen and (min-width: 768px) {
  .l-header {
    height: 80px;
  }

  .l-header__title {
    font-size: 1.7rem;
    line-height: 80px;
  }

  .l-header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 80px;
    background: none;
    cursor: auto;
  }

  .l-header__nav ul {
    width: auto;
    line-height: 80px;
  }

  .l-header__nav li {
    display: inline-block;
    margin-left: 1em;
  }

  .l-header__nav li:nth-last-child(2) {
    margin-left: 2em;
  }

  .l-header__nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
  }

  .l-header a.l-header__signin,
  .l-header a.l-header__signup {
    padding: .6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }

  .l-header a.l-header__signin:hover,
  .l-header a.l-header__signup:hover {
    border: 1px solid #2db697;
  }

  .l-header a.l-header__signup {
    background: #2db697;
    border: none;
  }
}

/* button
----------------------------------------------------------------- */

/* flexbox
----------------------------------------------------------------- */

/* list
----------------------------------------------------------------- */

/* pager
----------------------------------------------------------------- */

/* pagetop
----------------------------------------------------------------- */

/* section
----------------------------------------------------------------- */

/* about
----------------------------------------------------------------- */

/* article
----------------------------------------------------------------- */

.p-auth__form {
  position: relative;
  z-index: 1;
  max-width: 300px;
  padding: 30px;
  margin: 0 auto 100px;
  text-align: center;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.p-auth__form-thumbnail {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 27px 24px;
  margin: 0 auto 30px;
  background: #2db697;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.p-auth__form-thumbnail img {
  display: block;
  width: 100%;
}

.p-auth__form button {
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  background: #2db697;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: 0;
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
  cursor: pointer;
}

.p-auth__form-question {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.p-auth__form-question__link {
  color: #2db697;
  text-decoration: none;
}

.p-auth__form-login input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 0 0 15px;
  font-size: 14px;
  background: #f2f2f2;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: 0;
}

.p-auth__form-register {
  display: none;
}

.p-auth__form-check {
  text-align: left;
}

.p-auth__form-check-box {
  position: relative;
  padding: 0;
}

.p-auth__form-check-title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1em;
}

.p-auth__title {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.p-auth__title h1 {
  padding: 0;
  margin: 0 0 15px;
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 300;
}

/* community
----------------------------------------------------------------- */

.u-space__a__pt-5 {
  display: inline-block;
  padding-top: 5px;
}

.u-space__a__pt-10 {
  display: inline-block;
  padding-top: 10px;
}


/*# sourceMappingURL=app.css.map*/