@charset "utf-8";
@include pc {
    .l-container {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        margin-top: 40px;
        &__main {
            width: 585px;
            margin: 0 auto;
            background: #fff;
            &-mypage {
                width: 500px;
                height: 100vh;
                margin: 0 20px;
                background: #fff;
            }
        }
    }
};

@include sp {
    .l-container {
        display: flex;
        width: 95%;
        margin: 0 auto;
        margin-top: 40px;
        &__main {
            width: 100%;
            margin: 0 auto;
            background: #fff;
            &-mypage {
                // width: 500px;
                height: 100vh;
                margin: 0 20px;
                background: #fff;
            }
        }
    }
};
