.l-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.l-container__main {
  width: 585px;
  background: #fff;
}
.l-container__main-mypage {
  width: 500px;
  height: 100vh;
  margin: 0 20px;
  background: #fff;
}
.l-container__left {
  width: 200px;
  height: 100vh;
  background: #97d4b3;
}
.l-container__left-mypage {
  width: 300px;
  height: 100vh;
  background: #97d4b3;
}
.l-container__right {
  width: 295px;
  height: 100vh;
  margin-top: 260px;
  margin-left: 20px;
  background: #fff;
}
.l-container__right-mypage {
  width: 300px;
  height: 100vh;
  margin-top: 0;
  background: #fff;
}
.l-container__right-profile {
  display: flex;
}
