@charset "utf-8";

// mixin メディアクエリ
@include pc {};
@include sp {};

.l-header {
  color: #e7e7e7;
  font-family: "PT Sans", sans-serif !important;
  font-size: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  color: #3b3d4b;
  box-shadow: 0 1px 3px rgba(160,166,179,.3);

  @include pc {
    height: 65px;
  };

  @include sp {
    height: 50px;
  };

  a {
    color: $emeraldo;
    text-decoration: none;
  }

  &__title {
    font-size: 2rem;
    color: #000 !important;
    @include pc {
      height: 65px;
      line-height: 65px;
      margin-left: 50px;
    }
    @include sp {
      height: 50px;
      line-height: 50px;
      margin-left: 1rem;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 300px;
    font-size: .9rem;
    text-align: center;
    cursor: auto;
    @include pc {
      margin-right: 50px;
    };
    @include sp {
      margin-right: 1rem;
    };

    & ul {
      width: auto;
      white-space: nowrap;
      @include pc {
        line-height: 65px;
      };
      @include sp {
        line-height: 50px;
      };
    }
    & li {
      display: inline-block;
    }
    & a {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;
    }
  }
  &-dropdown {
    a,
    a:visited {
      text-decoration: none;
      outline: none;
    }
  
    & > ul > li > a {
      color: inherit;
      text-decoration: none !important;
    }
  
    & li ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      max-height: 0;
      font: bold;
      text-align: center;
      list-style: none;
              transition: max-height .4s linear;
  
      -webkit-transition: max-height .4s linear;
         -moz-transition: max-height .4s linear;;
      @include pc {
        right: 20px;
        width: 250px;
      };
    }
  
    & li ul li {
      background-color: #292a34;
      &:hover {
        background-color: #444555;
      }
      @include pc {
        padding: 15px 0;
      };
      @include sp {
        padding: 1rem 2rem;
      };
    }
  
    & li ul li a {
      display: block;
      color: #fff !important;
      text-decoration: none !important;
    }
  
    & li ul li:first-child {
      position: relative;
      margin-top: 10px;
      border-radius: 3px 3px 0 0;
      // ドロップダウンのマーク
      &:before {
        /* the pointer tip */
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        width: 1px;
        height: 1px;
        margin-left: -5px;
        border: 5px solid transparent;
        border-bottom-color: #292a34;
      }
    }
  
    & li ul li:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }  
    & li:hover ul {
      max-height: 300px; /* Increase when adding more dropdown items */
    }
    &__child {
      &-user {
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        @include pc {
          min-width: 100px;
          margin-right: 35px;
          line-height: 65px;  
        };
        @include sp {
          min-width: 120px;
          line-height: 50px;
        };
        &__img {
          display: block;
        }
      }
    }
  }
  // ログイン
  & a.l-header__signin {
    padding-right: 2rem;
    color: #3b3d4b;
    border: none;
  }

  // 新規ユーザー登録
  & a.l-header__signup {
    padding: .4em 1em;
    color: #fff;
    background: $emeraldo;
    border: 1px solid $emeraldo;
            border-radius: 3px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
  }
}



