@charset "utf-8";

/* header
----------------------------------------------------------------- */
.l-header {
  //   position: relative;
  //           box-sizing: border-box;
  height: 40px;
  color: #e7e7e7;
  font-family: "PT Sans", sans-serif;
  font-size: 100%;
  background: #343642;
  //   -webkit-box-sizing: border-box;
  //      -moz-box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input,
  textarea {
    font-size: 16px;
    font-size: 1rem;
  }
  input::-ms-clear,
  textarea::-ms-clear {
    display: none;
  }
  a {
    color: $emeraldo;
    text-decoration: none;
  }

  &::after {
    /* clearfix */
    content: "";
    clear: both;
    display: table;
  }
  &__title {
    margin-left: 30px;
    font-size: 1.5rem;
    line-height: 40px;
    & a {
      color: #fff;
    }
  }
  &__nav {
    float: right;
    width: 44px;
    height: 100%;
    margin-right: 5%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-menu.svg") no-repeat center center;
    cursor: pointer;
    & a {
      display: block;
      height: 40px;
      padding-left: 5%;
      color: #fff;
      line-height: 40px;
      background: #292a34;
      border-top: 1px solid #3b3d4b;
    }
  }
}





@media only screen and (min-width: 768px) {
  .l-header {
    height: 60px;
    &__title {
      font-size: 1.7rem;
      line-height: 60px;
    }
    &__nav {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 60px;
      background: none;
      cursor: auto;

      & ul {
        width: auto;
        line-height: 60px;
      }
      & li {
        display: inline-block;
        margin-left: 1em;
      }
      & a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
      }
    }

    & a.l-header__signin,
    & a.l-header__signup {
      padding: .6em 1em;
      border: 1px solid rgba(255, 255, 255, .6);
      border-radius: 40em;
      &:hover {
        border: 1px solid $emeraldo;
      }
    }
    & a.l-header__signup {
      background: $emeraldo;
      border: none;
    }
  }
}




.l-header-dropdown {
  a,
  a:visited {
    text-decoration: none;
    outline: none;
  }

  a:hover {
    text-decoration: underline;
  }

  & > ul > li > a {
    color: inherit;
    text-decoration: none !important;
  }

  & li ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    font: bold 12px "Open Sans Condensed", sans-serif;
    text-align: center;
    list-style: none;
            transition: max-height .4s linear;

    -webkit-transition: max-height .4s linear;
       -moz-transition: max-height .4s linear;;
  }

  & li ul li {
    background-color: #292a34;
  }

  & li ul li a {
    display: block;
    color: #fff !important;
    text-decoration: none !important;
    &:hover {
      background-color: #444555;
    }
  }



  & li ul li:first-child {
    position: relative;
    margin-top: 10px;
    border-radius: 3px 3px 0 0;
    // ドロップダウンのマーク
    &:before {
      /* the pointer tip */
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      width: 1px;
      height: 1px;
      margin-left: -5px;
      border: 5px solid transparent;
      border-bottom-color: #292a34;
    }
  }


  & li ul li:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  /* This will trigger the CSS */
  /* transition animation on hover */

  & li:hover ul {
    max-height: 300px; /* Increase when adding more dropdown items */
  }
  &__child {
    &-user {
      display: flex;
      align-items: center;
      line-height: 60px;

      &__img {
        display: block;
      }
      &__arrow {
        display: block;
        font-size: .2em;
      }
    }
  }
}
