.u-space__a__pt-5 {
  display: inline-block;
  padding-top: 5px;
}
.u-space__a__pt-10 {
  display: inline-block;
  padding-top: 10px;
}
.u-space__a__pl-20 {
  padding: 20px;
}
.u-space__a__mt-200 {
  margin-top: 200px;
}
