.vue-form-wizard {
  width: 870px;
  margin: 0 auto;
}
.vue-form-wizard .wizard-header {
  display: none;
}
.vue-form-wizard .wizard-nav-pills > li > a.disabled {
  display: none !important;
}
.quillWrapper {
  background: #fff;
}
.ql-editor {
  min-height: 300px !important;
}
.vue-form-wizard.md .wizard-icon-circle {
  width: 50px !important;
  height: 50px !important;
  font-size: 15px !important;
}
.vue-form-wizard .wizard-nav-pills > li > a {
  top: 10px !important;
}
.vue-form-wizard .wizard-card-footer {
  padding: 0 !important;
}
.wizard-navigation {
  display: flex !important;
  flex-direction: column !important;
}
.vue-form-wizard .wizard-tab-content {
  padding: 20px 0 10px !important;
}
.vue-form-wizard {
  padding-bottom: 10px !important;
}
.stepTitle {
  padding-top: 5px;
}
.wizard-icon {
  position: absolute;
  top: 12px;
  font-size: 18px;
}
.vue-form-wizard.md .wizard-nav-pills {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 200px;
  margin-top: 20px;
}
.vue-form-wizard.md .wizard-nav-pills > li {
  margin-top: 10px;
}
.vue-form-wizard.md .wizard-nav-pills > li.active > a svg {
  color: #ff7694;
}
.wizard-progress-bar {
  display: none;
}
.vue-form-wizard.md .wizard-nav-pills > li.active > a .wizard-icon {
  font-size: 20px !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
  border: none;
}
.quillWrapper .ql-snow.ql-toolbar {
  border-top: none;
  border-right: none;
  border-bottom: solid 0.8px #eee !important;
  border-left: none;
}
